html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-bg {
    background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
    font-family: "Segoe UI",Arial,sans-serif;
    border: 1px;
    width: 100%;
    height: 100%;
}

.about-bg {
    background-color: #1da1f3;

}

.timeline-bg{
    background-color: #e6ecf0;
}

body{
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    margin-left: 3px;
    padding: 0;
}

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      float: left;
      color: #1da1f2;

      border: none;
      border-bottom: 3px solid transparent;
      color: inherit;
      display: block;
      font-size: 13px;

      /*font-weight: bold;
      height: 46px;
      line-height: 1;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;*/
}

/*Index*/

.index-icon-text{
    font-size: 35px;
    margin-right: 16px;
    padding-left: 20%;
}

.left-side-image-index{
    background-image: url("../images/backimage.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-bottom: 150px;
    padding-top: 100px;
}

img{
    width:40px;
}

.index-icons-leftside{
    height: 1em;
    width: 1em;
    width: 40px;
    height: 30px;
    margin-right: 30px;
    padding-top: -100px;
}

.index-text-left{
    color: white;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    margin:0;
}

.right-side-image-index{
    width:70px;
    margin-top: 40px;

}

#index-top-login{
    text-align: center;
    border: 2px;
    border-radius: 30px;
    border-style: solid;
    border-color:#1da1f2;
    padding:10px 10px;
    float:right;
    margin-top: 40px;
    margin-right: 150px;
}

.right-side-index{
    background-color: white;
    margin-left: 80px;

}
.index-text{
    font-size: 27px;
    line-height: 32px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.index-text2{
    color: #14171a;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 24px;
    margin: 16px auto;
}

a.index-signup-button{
  background-color: #1da1f2;
  font-size: 14px;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  width: 350px;
  height: 34px;
  text-align: center;
  margin-right: 20px;



 }
 a.index-login-button{
      background-color: white;
      font-size: 14px;
      color: #1da1f2;
      display: inline-block;
      text-decoration: none;
      border-radius: 20px;
      width: 350px;
      height: 34px;
      text-align: center;
      border: 2px;
      border-style: solid;
      border-color:#1da1f2;
      margin-top: 2px;
      margin-right: 20px;
}


 a.index-login-button{
      background-color: white;
      font-size: 14px;
      color: #1da1f2;
      display: inline-block;
      text-decoration: none;
      border-radius: 20px;
      width: 350px;
      height: 34px;
      text-align: center;
      border: 2px;
      border-style: solid;
      border-color:#1da1f2;
      margin-top: 2px;
      margin-right: 20px;
}

a:hover {
    color: white;
    text-decoration: none;
}
/*Login*/

div.h1{
    font-size: 24px;
    line-height: .8;

}

.login-topnav{
  overflow: hidden;
  background-color: white;
  text-decoration: none;
  border: 1px solid #ccc;
  border-left: none;
  width: 100%;
  height: 46px;
}

.login-li{
    color: #66757f;
}

.fa-twitter{
    color: #1da1f2;
    padding-right: 2px;
}

.login-a{
    color: inherit;
    display: block;
    font-size: 13px;
    font-weight: bold;
}

a:hover {
    border-bottom: 2px solid #1c94e0;
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: white;
}

.language-select{
    float: right;
}

.login-background{
    text-align: center;
    background-color: white;
    background-repeat: no-repeat center center fixed;
    background-position: center;
    background: cover;
    border: 1px solid rgba(0,0,0,0.1);
}

.login-button{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    border: none;
    color: #fff;
    color: white;
    display: inline-block;
}


/*signup*/

.card-body{
    width: 600px;
    height: 400px;
}

.signup-logo{
    margin-left: 40%;
}
.signup-body{
    width: 522px;
    height: 58px;
    position: relative;
}
.card-header{
    font-style: bolder;
    color: black;
}

.signup-next-button{
    float: right;
    margin-left: 90%;
    padding-top: 2px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
     background: #00d9ff;
}

/*timeline*/

div.nav-image {
    background-image: url("../images/nav.png");
    height: 46px;

}

ul {
	list-style-type: none;
    margin-left: 10%;
    display: block;


}

 a {
 	color: #03658c;
 	text-decoration: none;
 }



body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}



footer{
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
      font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (min-width: 768px)
    .nav {
        display: -ms-flexbox;
        display: flex;
}

.nav {
    height: 3rem;
    left: 0;
    margin: auto;
    max-width: 1600px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 101;
}

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
}
